#
# Minimal binary size for prod devices
#
COMPILER_OPTIMIZATION_SIZE=y
# CONFIG_LOG_DEFAULT_LEVEL_NONE=y # Does not work for gpio features.
CONFIG_LOG_MAXIMUM_LEVEL_ERROR=y
CONFIG_LOG_DYNAMIC_LEVEL_CONTROL=n
LOG_TAG_LEVEL_IMPL_NONE=y
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_SILENT=y
CONFIG_HAL_ASSERTION_DISABLE=y
CONFIG_COMPILER_OPTIMIZATION_CHECKS_SILENT=n
CONFIG_COMPILER_CXX_EXCEPTIONS=n
CONFIG_COMPILER_CXX_RTTI=n
CONFIG_COMPILER_STACK_CHECK_MODE=n
CONFIG_ESP_ERR_TO_NAME_LOOKUP=n
CONFIG_ESP_SYSTEM_PANIC_SILENT_REBOOT=y
CONFIG_NEWLIB_NANO_FORMAT=y

CONFIG_HAL_SYSTIMER_USE_ROM_IMPL=y
CONFIG_HAL_WDT_USE_ROM_IMPL=y

CONFIG_HEAP_PLACE_FUNCTION_INTO_FLASH=y
CONFIG_HEAP_TLSF_USE_ROM_IMPL=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y

CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y